<header>

  <nav>
    <a href="{{ "/" | relative_url }}">
      {{ metadata.title | escape }}
    </a>

    {% if resource.lang == "fr" %}
      {% assign target = "en" %}
      {% assign label = "In English" %}
    {% else %}
      {% assign target = "fr" %}
      {% assign label = "En français" %}
    {% endif %}

    {% comment %}
    Somehow, site.url appears to be empty when accessing from this file.
    {{ site.url | replace: ".", "-" }}
    Instead I had to hardcode the URL.
    {% endcomment %}
    <a href="https://davidstosik-me.translate.goog{{ resource.relative_url }}?_x_tr_sl={{ resource.lang }}&_x_tr_tl={{ target }}">
      {{ label }}
    </a>
  </nav>

</header>
